a2a==0.44
a2a-sdk==0.3.7
absl-py==2.1.0
academictorrents==2.3.3
acres==0.3.0
adk==0.0.5
agent-dna @ file:///Users/rameshsubramani/Desktop/rubix-agent-dna
aiohttp @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1bydo4860s/croot/aiohttp_1715108783113/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
alembic==1.13.3
altair==5.5.0
anaconda-anon-usage @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3eler6mjxh/croot/anaconda-anon-usage_1710965076906/work
anaconda-catalogs @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/anaconda-catalogs_1701813581302/work
anaconda-client @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_4fl23009pr/croot/anaconda-client_1708640644054/work
anaconda-cloud-auth @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_bazegf935a/croot/anaconda-cloud-auth_1713991395391/work
anaconda-navigator @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_c57zkjz1pq/croot/anaconda-navigator_1713464022634/work
anaconda-project @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_edkrilp7t2/croot/anaconda-project_1706049207276/work
annotated-types @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1fa2djihwb/croot/annotated-types_1709542925772/work
antlr4-python3-runtime==4.9.3
anyio==4.12.0
appdirs==1.4.4
appnope==0.1.4
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asteroid-filterbanks==0.4.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/attrs_1699281960663/work
audioread==3.0.1
Authlib==1.6.6
autobahn==24.4.2
Automat==24.8.1
av==14.4.0
babel==2.16.0
base58==1.0.3
beartype==0.22.9
beautifulsoup4 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_94rx5n7wo9/croot/beautifulsoup4-split_1718029832430/work
bencode.py==2.0.0
biothings-client==0.3.1
bip32utils==0.3.post4
bitstring==3.1.5
bleach==6.1.0
blinker==1.9.0
bokeh @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a23glgv3ft/croot/bokeh_1718119064378/work
boltons @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/boltons_1699240838368/work
Bottleneck @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_e7wwl52wn1/croot/bottleneck_1709075893359/work
Brotli @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_27zk0eqdh0/croot/brotli-split_1714483157007/work
build==1.3.0
cachetools==5.5.2
captum==0.7.0
catboost==1.2.5
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi==2.0.0
chardet @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/chardet_1699244713642/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
ci-info==0.3.0
click @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/click_1699237822453/work
cloudpickle==3.1.2
coincurve==21.0.0
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.2
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1729155215531/work
conda-build @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e96dm09bk9/croot/conda-build_1716991294552/work
conda-content-trust @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_9fusbfzixa/croot/conda-content-trust_1714483157715/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-pack @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_bf7z50aw6o/croot/conda-pack_1710258031692/work
conda-package-handling @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ef9phnqphe/croot/conda-package-handling_1718138279942/work
conda-repo-cli @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_d9sayfhoiy/croot/conda-repo-cli_1709246580063/work
conda-token @ file:///croot/conda-token_1718995751285/work
conda_index @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0au56q2_5k/croot/conda-index_1719338215248/work
conda_package_streaming @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_6dgq200203/croot/conda-package-streaming_1718136087190/work
configobj==5.0.9
configparser==7.2.0
constantly==23.10.4
contourpy==1.3.2
cryptography==46.0.3
cssselect==1.3.0
ctranslate2==4.6.0
cycler==0.12.1
cyclopts==4.5.1
Cython==3.0.11
cytoolz @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f0etqooaak/croot/cytoolz_1701723613874/work
daphne==4.1.2
dask @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_48n3trhjfl/croot/dask-core_1715838604028/work
dask-expr @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_59fc337w7n/croot/dask-expr_1715846452490/work
databricks-sdk==0.64.0
dataclasses-json==0.6.7
debugpy==1.8.5
decorator==5.1.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dep-logic==0.4.1
dgl==2.2.0
diskcache==5.6.3
distlib==0.3.8
distributed @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_21nsgsfm28/croot/distributed_1715844467710/work
distro @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ddkyz0575y/croot/distro_1714488254309/work
dnspython==2.8.0
docker==7.1.0
docopt==0.6.2
docstring_parser==0.17.0
docutils==0.22
docx2txt==0.9
dotenv==0.9.9
ecdsa==0.19.1
ECPy==1.2.5
einops==0.8.1
email-validator==2.3.0
entrypoints @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/entrypoints_1699242128888/work
etelemetry==0.3.1
exceptiongroup==1.3.1
executing==2.1.0
fakeredis==2.33.0
fast-flights==2.2
fastapi==0.115.12
faster-whisper @ git+https://github.com/guillaumekln/faster-whisper.git@700584b2e6c15825c73e232f323e4b910257fa1c
fastjsonschema @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/python-fastjsonschema_1699238535414/work
fastmcp==2.14.4
ffmpeg-python==0.2.0
filelock @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/filelock_1701804468261/work
findpython==0.6.1
fitz==0.0.1.dev2
Flask==3.1.2
flatbuffers==24.3.25
fonttools==4.54.1
fqdn==1.5.1
frozendict @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_8b0cest_id/croot/frozendict_1713194839836/work
frozenlist @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/frozenlist_1699254257028/work
fsspec @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_19mkn689lo/croot/fsspec_1714461553219/work
future==0.16.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1725379848064/work
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
google-genai==1.53.0
google-generativeai==0.8.5
google-pasta==0.2.0
googleapis-common-protos==1.70.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.20.3
grpcio==1.76.0
grpcio-status==1.71.2
gunicorn==23.0.0
h11==0.14.0
h5py==3.13.0
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
hishel==0.0.29
httpcore==1.0.5
httplib2==0.22.0
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.29.1
humanfriendly==10.0
hyperlink==21.0.0
HyperPyYAML==1.2.2
id==1.5.0
idna @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a12xpo84t2/croot/idna_1714398852854/work
imbalanced-learn==0.12.4
imblearn==0.0
importlib_metadata==8.7.0
incremental==24.7.2
installer==0.7.0
intake @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_40n3b7n10j/croot/intake_1717513833052/work
ipykernel==6.29.5
ipython==8.27.0
ipywidgets==8.1.5
isodate==0.6.1
isoduration==20.11.0
itemadapter==0.12.2
itemloaders==1.3.2
itsdangerous==2.2.0
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jaraco.context==6.1.0
jaraco.functools==4.4.0
jedi==0.19.1
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_44yzu12j7f/croot/jinja2_1716993410427/work
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpatch @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3ajyoz8zoj/croot/jsonpatch_1714483362270/work
jsonpointer==2.1
jsonref==1.1.0
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/jsonschema-specifications_1701803122948/work
julius==0.2.7
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_73nomeum4p/croot/jupyter_core_1718818302815/work
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==3.4.1
keyring==25.7.0
kiwisolver==1.4.7
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.59
langchain-openai==0.3.17
langchain-text-splitters==0.3.8
langgraph==0.4.3
langgraph-checkpoint==2.0.25
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.69
langsmith==0.3.42
lazy_loader==0.4
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
libclang==18.1.1
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1711394373090/work/libmambapy
librosa==0.10.2.post1
lightgbm==4.5.0
lightning==2.5.1.post0
lightning-utilities==0.14.3
llvmlite==0.44.0
lmdb @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/python-lmdb_1699242995414/work
locket @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/locket_1699239197253/work
looseversion==1.3.0
lupa==2.6
lxml==5.4.0
lz4 @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/lz4_1699258569924/work
Mako==1.3.5
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1711394373090/work/mamba
Markdown==3.7
markdown-it-py==3.0.0
markdown2==2.5.3
MarkupSafe @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/markupsafe_1707339878470/work
marshmallow==3.26.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mcp==1.24.0
mdurl==0.1.2
menuinst @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_7dz63k6mur/croot/menuinst_1718132539961/work
mistune==3.0.2
ml-dtypes==0.3.2
mlflow==3.3.1
mlflow-skinny==3.3.1
mlflow-tracing==3.3.1
mnemonic==0.21
more-itertools @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/more-itertools_1701806574891/work
morphys==1.0
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/msgpack-python_1699237897243/work
multidict @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_10voz9m15i/croot/multidict_1701096890858/work
mygene==3.2.2
mypy_extensions==1.1.0
namex==0.0.8
narwhals==1.40.0
navigator-updater @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_15xz58jgev/croot/navigator-updater_1718030392983/work
nbclient==0.10.0
nbconvert==7.16.4
nbformat @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/nbformat_1701803214283/work
nest-asyncio==1.6.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
next==1.0.1
nh3==0.3.0
nibabel==5.3.2
nipype==1.10.0
notebook==7.2.2
notebook_shim==0.2.4
notion-client==2.3.0
numba==0.61.0
numexpr @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/numexpr_1699237935415/work
numpy==1.26.4
numpy-ml==0.1.2
oauthlib==3.3.1
omegaconf==2.3.0
onnx==1.18.0
onnxruntime==1.22.0
openai==0.27.10
openai-whisper @ git+https://github.com/openai/whisper.git@dd985ac4b90cafeef8712f2998d62c59c3e62d22
openapi-pydantic==0.5.1
opencv-contrib-python==4.12.0.88
opentelemetry-api==1.39.1
opentelemetry-exporter-prometheus==0.60b1
opentelemetry-instrumentation==0.60b1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opt-einsum==3.3.0
optree==0.12.1
optuna==4.0.0
orjson==3.10.18
ormsgpack==1.9.1
overrides==7.7.0
packaging==24.2
pandas @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b53hgou29t/croot/pandas_1718308972393/work/dist/pandas-2.2.2-cp312-cp312-macosx_11_0_arm64.whl#sha256=1956b71d1baac8b370fd9deac6100aadefda112447dca816a81ecbf3ea4eb3e6
pandocfilters==1.5.1
parsel==1.10.0
parso==0.8.4
partd @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/partd_1699241371660/work
pathable==0.4.4
pathlib==1.0.1
pathvalidate==3.3.1
patsy==0.5.6
pbs-installer==2024.4.24
pdm==2.16.1
pexpect==4.9.0
pillow @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_bdozlpra65/croot/pillow_1714398852206/work
pkce @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pkce_1699241403777/work
pkginfo @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_21aly_cba3/croot/pkginfo_1715695988648/work
platformdirs==4.5.1
pluggy @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pluggy_1699237243543/work
ply @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/ply_1699237976675/work
pooch==1.8.2
primePy==1.3
primp==0.15.0
prometheus_client==0.24.1
prompt_toolkit==3.0.47
Protego==0.5.0
proto-plus==1.26.1
protobuf==5.29.5
prov==2.0.1
psutil @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/psutil_1699248249804/work
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.29
py-cid==0.3.1
py-key-value-aio==0.3.0
py-key-value-shared==0.3.0
py-multibase==1.0.3
py-multicodec==0.2.1
py-multiformats-cid==0.4.4
py-multihash==2.0.1
pyannote.audio==3.3.2
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_7dissav55a/croot/pyarrow_1707330837493/work/python
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycosat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_19qelmdbl6/croot/pycosat_1714510743067/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.12.4
pydantic-settings==2.9.1
pydantic_core==2.41.5
pydeck==0.9.1
PyDispatcher==2.0.7
pydocket==0.16.6
pydot==4.0.0
Pygments==2.18.0
PyJWT==2.10.1
pymultihash==0.8.2
pyOpenSSL==25.0.0
pyparsing==3.1.4
pyperclip==1.11.0
pyproject_hooks==1.1.0
PyPubSub==3.3.0
PyQt5==5.15.10
PyQt5-sip @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pyqt-split_1699239482609/work/pyqt_sip
PyQtWebEngine==5.15.6
PySocks @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pysocks_1699237568675/work
python-baseconv==1.2.2
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
python-dotenv==1.1.0
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.20
python-snappy @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/python-snappy_1699262253505/work
pytorch-lightning==2.5.1.post0
pytorch-metric-learning==2.8.1
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a4b76c83ik/croot/pytz_1713974318928/work
pyxnat==1.6.3
PyYAML @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pyyaml_1699240344586/work
pyzmq==26.2.0
QtPy @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/qtpy_1701804233944/work
queuelib==1.8.0
rdflib==6.3.2
readme_renderer==44.0
redis==7.1.0
referencing @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/referencing_1701803099840/work
regex==2024.11.6
requests @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b143dxenr7/croot/requests_1716902835977/work
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/requests-toolbelt_1699238632371/work
resolvelib==1.0.1
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==14.3.1
rich-rst==1.3.2
rpds-py @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/rpds-py_1699262599461/work
rsa==4.9.1
ruamel-yaml-conda @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/ruamel_yaml_1699249814223/work
ruamel.yaml==0.18.11
ruamel.yaml.clib==0.2.12
rubix-py==0.7.0
-e git+https://github.com/rubixchain/agentdna.git@55731ca0a88d6d7bbb9df45af56f05d4a98dc9f7#egg=rubix.agent.dna
safetensors==0.5.2
scikit-learn==1.5.1
scipy==1.14.1
Scrapy==2.13.3
seaborn==0.13.2
selectolax==0.4.6
semver @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_99ujwp04tw/croot/semver_1709243633470/work
Send2Trash==1.8.3
sentencepiece==0.2.0
service-identity==24.2.0
setuptools==69.5.1
shellingham==1.5.4
simplejson==3.20.1
sip @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/sip_1699238710791/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
slack_bolt==1.27.0
slack_sdk==3.39.0
smmap==5.0.2
sniffio==1.3.1
socksio==1.0.0
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soundfile==0.13.1
soupsieve @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/soupsieve_1699282494776/work
soxr==0.5.0.post1
speechbrain==1.0.3
SQLAlchemy==2.0.35
sqlparse==0.5.3
sse-starlette==3.0.3
stack-data==0.6.3
starlette==0.46.2
statsmodels==0.14.4
streamlit==1.52.2
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1727529700862/work
tabulate==0.9.0
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity==8.5.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.16.2
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tiktoken==0.3.3
tinycss2==1.3.0
tldextract==5.3.0
tokenizers==0.21.0
toml==0.10.2
tools==1.0.2
toolz @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/toolz_1699238160466/work
torch==2.7.0
torch-audiomentations==0.12.0
torch-geometric @ git+https://github.com/pyg-team/pytorch_geometric.git@83485e3cad23c8e93e399314a305463d2bc94c52
torch-vision==0.1.6.dev0
torch_cluster==1.6.3
torch_pitch_shift==1.2.5
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2
torchaudio==2.7.0
torchdata==0.8.0
torchmetrics==1.7.1
torchvision==0.22.0
tornado @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a4w03z48br/croot/tornado_1718740114858/work
tqdm @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_f76_dxtcsh/croot/tqdm_1716395948224/work
traitlets @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_500m2_1wyk/croot/traitlets_1718227071952/work
traits==7.0.2
transformers==4.49.0
truststore @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/truststore_1701805928787/work
twine==6.2.0
Twisted==24.11.0
txaio==23.1.1
typer==0.16.0
types-python-dateutil==2.9.0.20240821
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
ujson @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_dexxju769y/croot/ujson_1717597527341/work
unearth==0.16.0
uri-template==1.3.0
uritemplate==4.2.0
urllib3 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cao7_u9937/croot/urllib3_1718912649114/work
uv==0.7.3
uvicorn==0.40.0
uvloop==0.22.1
varint==1.0.2
virtualenv==20.26.3
w3lib==2.3.1
watchfiles==1.1.1
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.43.0
widgetsnbextension==4.0.13
wrapt==1.16.0
xgboost==2.1.1
xxhash==3.5.0
xyzservices @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/xyzservices_1699243674756/work
yarl @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a8s46tbbn5/croot/yarl_1701105147904/work
zict @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/zict_1699250947936/work
zipp==3.23.0
zope.interface==7.2
zstandard==0.23.0
